
/*---------------------------------------------------------SECTION---------------------------------------------------------*/
/*---------------------------------------------------------SECTION---------------------------------------------------------*/
.pagetitle{
	
	display:inline-block;
	width:100vw;
}
.pagetitle h1,h2{
	width:400px;
	text-align:center;
	font-family: 'Squada One', cursive;
	//font-family: 'Baloo Bhaina', cursive;
	margin:50px auto auto auto;
	font-size:5vw;
	font-weight:100;
	color:black;
	text-transform:uppercase;
	//border-radius:10px;
	//border:5px solid black;
	//border-bottom-right-radius:20%;
	//border-top-left-radius:20%;
	//border-radius:20%;
}
.pagetitle h2{
	width:300px;
	font-size:2vw;
	
}
